<template>
  <div class="home">
    <div class="container">
      <div class="interior">
        <a class="btn" href="#open-modal">Detail</a>
      </div>
    </div>
    <div id="open-modal" class="modal-window">
      <div>
        <a href="#" title="Close" class="modal-close">Close</a>
        <h1>Modal</h1>
        <div>ini content</div>
      </div>
    </div>
    </div>
</template>

<script>

export default {
  name: 'Home'
}
</script>
